.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 10px 40px 10px;
    background-color: rgba(15, 23, 42, 0.75) !important;
    overflow: hidden;
    overflow-y: auto;
    z-index: 999;
    transition: opacity 0.3s;
}

.UpdateTaskData {
    padding-bottom: 20px;
}